body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-family: 'Poppins', sans-serif;
}
#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

#tweakpaneUiContainer {
  display: none;
}

.navbar {
  position: absolute;
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.buyNow {
  font-family: 'Poppins', sans-serif;
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin-right: 50px;
  font-size: 1rem;
}

.logo {
  margin-left: 50px;
}

/*SECTION 1*/
.section1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
